.static-background {
  background-image: url("../res/images/background.jpg");

  position:fixed;

  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index: -1;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video-container {
  background-image: url("../res/images/video-background-static.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video-background {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.content-block {
  background-color: green;
  margin-bottom: 3.5em;
  margin-top: 0px;
  padding: 3em;
  font-size: 14pt;
}

.content-block p {
  margin: 0px;
  line-height: 1.5em;
}

.content-right {
  display: flex;
  justify-content: flex-end;
}

.content-center {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: center;
}

.gallery-block {
  background-color: white;
  text-align: center;
  user-select: none;
}

.gallery-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.gallery-image {
  display: none;
  height: 66vh;
}

.gallery-start {
  display: block;
}

.gallery-left, .gallery-right, .gallery-buttons {
  display: inline-block;
  cursor: pointer;
  color: #505050;
  margin-left: 1em;
  margin-right: 1em;
}

.gallery-left-test {
  cursor: pointer;
  color: #505050;
  width: 6em;
  position: relative;
}

.gallery-right-test {
  cursor: pointer;
  color: #505050;
  width: 6em;
  position: relative;
}

.gallery-left-test span {
  font-size: 2em;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

.gallery-right-test span {
  font-size: 2em;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

.gallery-buttons {
  display: inline-block;
  cursor: pointer;
  margin-left: 0.3em;
  margin-right: 0.3em;
  height: 0.3em;
  width: 0.3em;
  padding: 0;
  border: 2px solid #505050;
  border-radius: 50%;
  background-color: white;
}

.selected-button {
  background-color: #505050;
}

.gallery-button-div {
  width: 100%;
  margin-top: 2em;
}

.image-right {
  flex: 1;
}

.left-of-image {
  flex: 2;
}

.spin-image {
  width: 100%;
  vertical-align: top;
}

.text-box {
  text-align: justify;
  width: 40%;
  padding: 3em;
  
}

.specifications {
  background-image: url("../res/images/specifications-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  transform: translateZ(-1px) scale(2);
  position: relative;
  padding: 0px;
  padding-bottom: 1em;
}

.specifications-header {
  background-image: url("../res/images/specifications-header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 1em;
}

.specifications-heading {
  height: 14em;
  line-height: 14em;
  width: 50%;
  background-color: rgba(255,255,255, 0.6);
  font-size: xx-large;
  padding-left: 0.5em;
  margin-left: 50%;
}

.specifications-block {
  background-color: rgba(85,85,85, 0.6);
  width: 50%;
  margin-bottom: 1em;
  margin-top: 0px;
  color: white;
  font-size: x-large;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 2em;
}

.specifications-block h1 {
  margin: 0px;
  padding-bottom: 1em;
}

.specifications-block sub {
  font-size: 85%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.table-left {
  vertical-align: top;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
  font-size: 14pt;
}

.table-right {
  vertical-align: top;
  text-align: justify;
  font-size: 14pt;
}

#video-text {
  background-color: rgba(255,255,255, 0.6);
}

#spin-text {
  color: white;
}

#spin-box {
  background-color: #212121;
  
}

#logo-div {
  width: 100%;
  height: 100vh;
}

#logo-img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60%;
  background: none;
  z-index: 0;
}

body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  font-family: arial;
}

table {
  border-spacing: 0.25em 0.5em;
}
